h1{
    border: 5px solid brown;
    /* padding-left: 40px;
    padding-top: 140px;
    padding-bottom: 20px;
    padding-right: 40px; */
    /* padding: 40px; */
    /* padding: 20px 40px; */
    padding: 10px;
    /* margin-left: 100px;
    margin-top: 50px; */
    /* margin: 100px; */
    width: 500px;
    margin: 20px auto;
    text-align: center;
    background: lightblue;
}