body{
    font-family: Arial, Helvetica, sans-serif;
}


.box1, .box2{
    border: 2p solid #444;
    padding: 10px;
}

.box2{
    margin-bottom: 40px;
    border: 2p solid rgb(176, 63, 63);

}

.box2{
    margin-top: 50px;

}
